---
import { cn } from '@/lib/utils'
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'

interface Props {
  post: CollectionEntry<'blog'>
  large?: boolean
}

const { post, large = false } = Astro.props
---

<div>
  <a class='no-underline' href={`/blog/${post.slug}`}>
    <h3 transition:name={post.slug} transition:animate='slide'>
      {post.data.title}
    </h3>
    <div class={cn('flex flex-col', { 'md:flex-row': large })}>
      {
        post.data.thumbnail && post.data.alt && (
          <Image
            src={post.data.thumbnail}
            alt={post.data.alt}
            width={500}
            height={500}
            class='w-full max-w-xl'
          />
        )
      }
      <div class={cn('pt-3 w-full', { 'md:pt-0 md:pl-3': large })}>
        <p>{post.data.description}</p>
        <i class='text-sm text-primary-200'>
          {post.data.date.toLocaleDateString()}
        </i>
      </div>
    </div>
  </a>
</div>
