---
import GithubIcon from '@/components/icons/GithubIcon.astro'
import LinkedInIcon from '@/components/icons/LinkedInIcon.astro'
import MailIcon from '@/components/icons/MailIcon.astro'
import '@/globals.css'
import '@fontsource/ubuntu'
import { getEntry } from 'astro:content'
import BaseHead from './BaseHead.astro'

interface Props {
  title?: string
  description?: string
  image?: string
}

const { title, description, image } = Astro.props

const path = Astro.url.pathname
const { data } = await getEntry('pages', 'pages')
const links = data.pages.filter(
  ({ route, excludeFromNav }) => route !== path && excludeFromNav !== true
)
const currentPage = data.pages.find(({ route }) => route === path)
const fullTitle =
  title || currentPage
    ? `Frans Ekman | ${title ?? currentPage?.title}`
    : undefined
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead
      title={fullTitle}
      description={description ?? currentPage?.description}
      image={image}
    />
  </head>
  <body class='flex flex-col min-h-screen justify-between'>
    <header class='p-4 flex'>
      <a class='no-underline' href='/' transition:name='logo'>Frans Ekman</a>
      <nav class='ml-auto flex gap-6'>
        {
          links.map(({ route, title, slug }) => (
            <a class='no-underline' href={route} transition:name={slug}>
              {title}
            </a>
          ))
        }
      </nav>
    </header>
    <hr transition:name='top-hr' />
    <main
      class='flex flex-col gap-4 p-4 py-10 max-w-4xl mx-auto w-full flex-1'
      transition:name='main'
    >
      {
        currentPage && (
          <>
            <h2 transition:name={currentPage?.slug} class='w-fit'>
              {currentPage?.title}
            </h2>
            <hr transition:name='heading-hr' />
          </>
        )
      }
      <slot />
    </main>
    <hr transition:name='bottom-hr' />
    <footer transition:name='footer' class='p-4 flex gap-5 m-auto'>
      Frans Ekman
      <LinkedInIcon href='https://www.linkedin.com/in/frans-ekman/' />
      <GithubIcon href='https://www.github.com/fransek/' />
      <MailIcon href='mailto:fransedvinekman@gmail.com' />
    </footer>
  </body>
</html>
