---
import GithubIcon from '@/components/icons/GithubIcon.astro'
import LinkedInIcon from '@/components/icons/LinkedInIcon.astro'
import MailIcon from '@/components/icons/MailIcon.astro'
import '@/globals.css'
import { ROUTES } from '@/lib/constants'
import { toKebabCase } from '@/lib/formatters'
import '@fontsource/ubuntu'
import BaseHead from './BaseHead.astro'

interface Props {
  title: string
  description: string
  image?: string
}

const { title, description, image } = Astro.props
const path = Astro.url.pathname

const links = Object.entries(ROUTES).filter(([_, route]) => route !== path)
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead
      title={`Frans Ekman | ${title}`}
      description={description}
      image={image}
    />
  </head>
  <body
    class='flex flex-col min-h-screen justify-between bg-gray-900 font-[Ubuntu]'
    transition:animate='slide'
  >
    <nav class='p-4 flex justify-around sm:justify-center sm:gap-10'>
      {
        links.map(([label, route]) => (
          <a href={route} transition:name={toKebabCase(label)}>
            {label}
          </a>
        ))
      }
    </nav>
    <hr transition:name='top-hr' />
    <main
      class='flex flex-col gap-4 p-4 py-10 max-w-4xl mx-auto w-full flex-1'
      transition:name='main'
      transition:animate='slide'
    >
      <slot />
    </main>
    <hr transition:name='bottom-hr' />
    <footer transition:name='footer' class='p-4 flex gap-5 m-auto'>
      Frans Ekman
      <LinkedInIcon href='https://www.linkedin.com/in/frans-ekman/' />
      <GithubIcon href='https://www.github.com/fransek/' />
      <MailIcon href='mailto:fransedvinekman@gmail.com' />
    </footer>
  </body>
</html>
