---
import { getCollection } from 'astro:content'
import Post from '../modules/Post.astro'
import BaseLayout from './BaseLayout.astro'

interface Props {
  title: string
  description: string
  date: Date
  slug: string
  image?: string
}

const { title, description, image, date, slug } = Astro.props

const posts = await getCollection('blog')
---

<BaseLayout title={`Blog | ${title}`} description={description} image={image}>
  <h1 transition:name={slug}>{title}</h1>
  <p>Frans Ekman, {date.toLocaleDateString()}</p>
  <hr transition:name='heading-hr' />
  <slot />
  <hr />
  <h2>Recent posts</h2>
  <div class='grid grid-cols-1 md:grid-cols-2 gap-3'>
    {
      posts
        .filter((post) => post.slug !== slug)
        .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
        .slice(0, 2)
        .map((post) => <Post post={post} />)
    }
  </div>
</BaseLayout>
