---
import GithubIcon from '@/components/icons/GithubIcon.astro'
import LinkedInIcon from '@/components/icons/LinkedInIcon.astro'
import MailIcon from '@/components/icons/MailIcon.astro'
import BaseHead from '@/components/layouts/BaseHead.astro'
import { getEntry } from 'astro:content'
import '@/globals.css'
import '@fontsource/ubuntu'
import { Image } from 'astro:assets'

const entry = await getEntry('pages', 'pages')
const links = entry?.data.pages.filter((page) => page.excludeFromNav !== true)
const homePage = entry?.data.pages.find(({ route }) => route === '/')

if (!homePage) {
  throw new Error('No home page data found')
}
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead title={homePage.title} description={homePage.description} />
  </head>
  <body class='flex flex-col min-h-screen justify-between'>
    <main
      class='flex flex-col gap-4 p-4 py-10 max-w-4xl mx-auto flex-1 items-center justify-center w-fit'
    >
      <h1 transition:name='logo' class='text-4xl font-bold'>Frans Ekman</h1>
      <div
        class='rounded-full overflow-hidden w-56 h-w-56 bg-white bg-opacity-5'
      >
        <Image
          class='w-full h-full'
          src='/me.png'
          alt='A picture of me'
          width={500}
          height={500}
        />
      </div>
      <hr class='w-full' />
      <nav class='flex gap-6'>
        {
          links?.map((link) => (
            <a
              class='no-underline'
              transition:name={link.slug}
              href={link.route}
            >
              {link.title}
            </a>
          ))
        }
      </nav>
      <div class='flex gap-6'>
        <LinkedInIcon
          size={32}
          href='https://www.linkedin.com/in/frans-ekman/'
        />
        <GithubIcon size={32} href='https://www.github.com/fransek/' />
        <MailIcon size={32} href='mailto:fransedvinekman@gmail.com' />
      </div>
    </main>
  </body>
</html>
